/* Colors */

$border: #898f9c;
$button-bg: #4267b2;
$button-hover: darken(#4267b2, 10%);
$cart-label: #777;
$container-bg: #f1f1f1;
$font-family: sans-serif;
$font-color: #222;
$html-bg: #fff;
$paint-bg: #fff;
$white: #fff;

/* Page Settings */
html {
  background: $html-bg;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: $font-color;
  font-family: $font-family;
  margin: 0;
}

#root {
  background: $container-bg;
}

/* Layout */
.container {
  margin: 0 auto;
  max-width: 80rem;
  min-height: 100vh;
  padding: 1.5rem;
  width: calc(100% - 3rem);

  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  display: flex;
  font-size: 2.4rem;
  justify-content: center;
}

.painting-cart {
  display: flex;
  flex-direction: column;

  .cart-list {
    border: 1px solid $border;
    font-size: 1.6rem;
    margin-left: 1.5rem;
    order: 1;
    padding: 1.5rem;
    width: calc(100% - 7rem);

    table {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    tr {
      display: flex;
      flex-wrap: wrap;
      margin: 1.5rem 0;
      width: 100%;
    }
    td {
      width: 100%;

      &:first-of-type:before {
        content: "Name:";
      }

      &:last-of-type:before {
        content: "Quantity:";
      }

      &:before {
        color: $cart-label;
        margin-right: 0.5rem;
      }
    }
  }
}

.painting-listing {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding-left: 0;
  }
}

/* Listing Styling */
.painting-container {
  background: $paint-bg;
  border: 0.1rem solid $border;
  margin: 1.5rem;

  .painting-info {
    font-size: 1.6rem;
    margin: 1.5rem;
  }

  .painting-action {
    input {
      margin-bottom: 0.5rem;
    }
  }
}

img {
  width: 100%;
}

.btn {
  align-items: flex-end;
  background: $button-bg;
  color: $white;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  font-size: 2rem;
  justify-content: center;
  padding: 1.5rem;
  text-decoration: none;
  transition: 0.5s ease all;
  width: 100%;

  &:hover {
    background: $button-hover;
  }

  &.submit-order {
    margin: 1.5rem;
    width: calc(100% - 4rem);
  }

  a {
  }
}

label {
  display: block;
  font-size: 2rem;
  padding-right: 1rem;
  text-align: center;
}

input[type="email"],
input[type="text"] {
  box-shadow: 0;
  margin: 0 1.5rem;
  padding: 1rem;
  width: calc(100% - 6rem);
}

.counter {
  display: none;
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: column;
    max-width: 120rem;
  }

  h1 {
    font-size: 3.6rem;
  }

  .painting-cart {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 120rem;
    width: 100%;

    .cust-info {
      width: 70%;
    }
    .cart-actions {
      width: 30%;
    }

    .cart-list {
      order: 1;
      width: 50%;

      td {
        width: 45%;
      }
    }
  }

  .painting-listing {
    ul {
      display: flex;
      flex-direction: row;

      li {
        max-width: 33%;
      }
    }
  }

  .painting-container {
    .painting-info {
      min-height: 13rem;
    }
  }

  label {
    display: block;
  }

  .btn {
    &.submit-order {
      margin: 1.5rem;
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background-color: #34518d;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.6rem;

  a {
    text-decoration: none;
    color: white;

    &:not(:first-child) {
      margin-left: 2rem;
    }
  }
}

.distance {
  div {
    margin: 0.5rem 0;
    svg {
      margin: 0 1rem;
    }
  }
}
